.a{
	height: 1400px;
	width: 1350px;
	background-color: white;
}
h1{
	padding-left: 30px;
	color: #557A46;
}
img{
	padding-left: 500px;
	height: 400px;
	width: 600px;
	position: relative;
	right: 110px;
}
p{
	text-align: justify;
	text-align: center;
	font-family: italic;
	color: grey;
}
button{
	border-color: #ADE792;
	border-radius: 25px;
	color: black;
	height: 40px;
	width: 120px;
}
h2{
	font-size: 40px;
	padding-left: 590px;
	color: #557A46;
}
.a1{
	margin-left: 100px;
	height: 400px;
	width: 1100px;
	background-color: #ADE792;
}
.a2{
	height: 400px;
	width: 275px;
	background-color: #557A46;
	float: left;
}
.a3{
	height: 400px;
	width: 275px;
	background-color: #C8E4B2;
	float: left;
}

.a4{
	height: 400px;
	width: 275px;
	background-color: #557A46;
	float: left;
}

.a5{
	height: 400px;
	width: 275px;
	background-color: #C8E4B2;
	float: right;
}
h3{
	padding-left: 100px;
	color: white;
	font-size: 20px;
}
.p1{
	font-family: cursive;
	color:white;
	text-align: center;
}
hr{
	width: 200px;
}
.b
{
	margin-top: 50px;
	height: 700px;
	width: 1350px;
	background-color: #E9EDC9;
}
.b2{
	margin-left: 80px;
	height: 500px;
	width: 400px;
	background-color:#E9EDC9 ;
	float: left;
}
.b21{
	height: 200px;
	width: 400px;
	background-color: #E9EDC9;
}
.b22{
	height: 300px;
	width: 400px;
	background-color: #7AA874;
}
.b3{
	height: 500px;
	width: 400px;
	background-color:#E9EDC9 ;
	float: left;
}
.b4{
	height: 500px;
	width: 400px;
	background-color: #E9EDC9;
	float: left;
}
.b41{
	height: 300px;
	width: 400px;
	background-color: #7AA874;
}
.b42{
	height: 200px;
	width: 400px;
	background-color: #E9EDC9;
}
h4{
	padding-top: 50px;
	padding-left: 90px;
	color: white;
	font-size: 20px;
}
.p2{
	color: white;
	font-family: cursive;
}
h5{
	padding-left: 50px;
	color: #7AA874;
	font-size: 20px;
	padding-top: 90px;
}
.p3{
	color: #7AA874;
	font-size: 30px;
	text-align: center;
	text-align: justify;
	padding-left: 50px;
}
h6{
	padding-top: 50px;
	padding-left: 90px;
	color: black;
	font-size: 20px;
}
.p4{
	color: white;
	font-family: cursive;
}
.c{
	height: 600px;
	width: 1350px;
	background-color: #E9EDC9;
}
.c1 img{
	margin-right: 400px;
	height: 500px;
	width: 500px;
	clear: right;
	margin-left: 100px;
	margin-top: 130px;
}
.c1{
	margin-left: 88px;
	height: 600px;
	width: 600px;
	background-color:#E9EDC9;
	float: left;
	position: relative;
	right: 550px;
	bottom: 90px;
}
.c2{
	height: 600px;
	width: 300px;
	background-color:  #E9EDC9;
	float: left;
}
.c21{
	height: 200px;
	width: 300px;
	background-color:  #E9EDC9;
}
.c22{
	height: 280px;
	width: 300px;
	background-color:  #E9EDC9;
	margin-bottom: 10px;
}
.c3{
	height: 600px;
	width: 300px;
	background-color:  #E9EDC9;
	float: left;
}
.c31{
	height: 200px;
	width: 300px;
	background-color:  #E9EDC9;
	margin-bottom: 10px;
}
.c32{
	height: 300px;
	width: 300px;
	background-color: #557A46;
}
.d{
	height: 100px;
	background-color: white;
}
.p7{
	padding-right: 400px;
	font-size: 60px;
	padding-top: 30px;
	color: #557A46;
}
.f{
	margin-left: 450px;
	padding-right: 200px;
	color: green;
	border-bottom: 1px solid green;
}
.copy{
	height: 200px;
	width: 1350px;
	background-color:dimgrey;
}
.copy1{
	font-family:sans-serif;
	color: white;
	font-size: 20px;
}
.copy2{
	font-family:sans-serif;
	color: white;
	font-size: 20px;
}
.p6{
	color: black;
	font-size: 20px;
}
.business
{
	padding-top: 100px;
	height: 100px;
	width: 1350px;
	background-color:  #E9EDC9; 
	font-family: cursive;
	font-size: 30px;
	color: #557A46;
}
.line{
	color:#557A46;
	width: 500px;
}
.pic{
	height: 900px;
	width: 1350px;
	background-color: skyblue;
	margin-bottom: 30px;
}
.pic1{
	height: 450px;
	width: 1350px;
background-color: skyblue;
}
.pic1{
	height: 450px;
	width: 1350px;
background-color: darkblue;
}
.pic11{
	height: 450px;
	width: 450px;
	background-color: white;
	float: left;
}
.pic12{
	height: 450px;
	width: 450px;
	background-color: white;
	float: left;
}
.pic13{
	height: 450px;
	width: 450px;
	background-color: white;
	float: left;
}
.pic21{
	height: 450px;
	width: 450px;
	background-color: white;
	float: left;
}
.pic22{
	height: 450px;
	width: 450px;
	background-color: white;
	float: left;
}
.picture{

}
.pic23{
	height: 450px;
	width: 450px;
	background-color: white;
	float: left;
}
.bus{
	padding-top: 50px;
	color: #557A46;
	font-size: 40px;
	text-align: left;
}
.busi{
	padding: 30px;
	font-size:20px;
	text-align: center;
	text-align: justify;
}
.pic22{
	height: 450px;
	width: 450px;
	position: static;
}
.pic22 img{
	height: 450px;
	width: 450px;
	position: absolute;
	right: 773px;
}
.pic11{
	height: 450px;
	width: 450px;
	position: relative;
}
.pic11 img{
	height: 450px;
	width: 450px;
	position: absolute;
	right: 1px;
}

.pic13{
	height: 450px;
	width: 450px;
	position: relative;
}
.pic13 img{
	height: 450px;
	width: 450px;
	position: absolute;
	right: 2px;
}

.ex{
	height: 600px;
	width: 1000px;
	float: left;
	position: static;
}
.ex img{
	padding-left: 200px;
	height: 600px;
	width: 1000px;
	right: 70px;
	position: relative; 
}
.exa{
	height: 300px;
	width: 300px;
	float: right;
	position: absolute;
	right: 400px;
	background-color: white;
	top: 4000px;
}
.bold{
	padding-top: 100px;
	height: 700px;
	width: 1350px;
	background-color: #E9EDC9;
	margin-top: 550px;
	margin-bottom: 50px;
}
.hr1{
	width: 600px;

}
.p10{
	font-size: 20px;
	text-align: left;
}
.p11{
	font-family: serif;
	font-size: 25px;
	color: black;
	text-align: left;
}
#hi{
	padding-left: 520px;
	padding-right: 50px;
	font-size: 30px;
	color: green;
	float: left;
}
#hello{
	font-size: 30px;
	padding-right: 50px;
	color: green;
	float: left;
}
#hey{
	padding-right: 500px;
	padding-right: 50px;
	font-size: 30px;
	color: green;
	float: left;
}
.copy{
	margin-top: 100px;
	height: 200px;
	width: 1350px;
	background-color:dimgrey;
}
.copy1{
	font-family:sans-serif;
	color: white;
	font-size: 20px;
}
.bold11 img{
	height: 600px;
	width: 600px;
	float: left;
	position: relative;
	right: 500px;
	top: 30px;
}
.bold11{
	height: 700px;
	width: 675px;
	float: left;
}
.bold12{
	height: 700px;
	width: 675px;
	float: right;
	text-align: left;
}
